@import "tailwindcss";

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Audiowide;
  src: url(./assets/fonts/Audiowide-Regular.ttf);
}

@theme{
  --font-poppins: Poppins, "sans-serif";
  --font-audiowide: Audiowide, "sans-serif";
}